<!DOCTYPE html>
<html lang="en">
<head>
  <title>Carrito</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  // SDK MercadoPago.js
<script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="/api/products" class="btn btn-primary">Products</a>
      </div>
      <div class="col-md-6">
        <form action="/api/session/logout" method="GET" class="float-md-end">
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </div>
    </div>

    <h1 class="mt-3">Comprar carrito</h1>

    {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
    {{/if}}

    {{#each cart}}
    <div class="container mt-4">
      <ul class="list-group">
        {{#each products}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-3">
              <img src="{{productId.imageURL}}" alt="Product Image" class="img-thumbnail" style="max-width: 100%;">
            </div>
            <div class="col-md-9">
              <h3>{{productId.title}}</h3>
              <p>Product ID: {{productId._id}}</p>
              <p>Quantity: {{quantity}}</p>
              <p>Stock: {{productId.stock}}</p>
              <p>Precio: $ {{productId.price}}</p>

              <!-- Formulario para modificar la cantidad -->
              <form action="/api/carts/update-quantity" method="POST" class="mb-2">
                <input type="hidden" name="cartId" value="{{../_id}}">
                <input type="hidden" name="productId" value="{{this.productId._id}}">
                <div class="input-group">
                  <input type="number" name="quantity" value="{{this.quantity}}" class="form-control">
                  <button type="submit" class="btn btn-primary">Actualizar cantidad</button>
                </div>
              </form>

              <!-- Formulario para eliminar el producto -->
              <form action="/api/carts/remove-from-cart" method="POST">
                <input type="hidden" name="cartId" value="{{../_id}}">
                <input type="hidden" name="productId" value="{{this.productId._id}}">
                <button type="submit" class="btn btn-danger">Eliminar producto</button>
              </form>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      <!-- Mostrar el subtotal para el carrito actual -->
      <p class="mt-3">Subtotal: $ {{cartSubtotal}}</p>

      <!-- Formulario para eliminar el carrito -->
      <form action="/api/carts/remove-cart" method="POST">
        <input type="hidden" name="cartId" value="{{_id}}">
        <button type="submit" class="btn btn-danger">Vaciar carrito</button>
      </form>
    </div>
    {{/each}}


    <!-- Mostrar el total para el carrito completo -->
    <p class="mt-3">Total: $ {{cartTotal}}</p>

    <!-- Formulario para realizar la compra -->
    <form action="/api/carts/purchase" method="GET" class="mt-3">
      <button type="submit" id="checkout-btn" class="btn btn-success">Comprar</button>
       <div id="wallet_container"></div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
