<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/global.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <form class="d-flex" action="/api/products" method="GET">
        <input
          class="form-control me-2"
          type="text"
          name="query"
          value="{{query}}"
          placeholder="Search..."
        />
        <input type="hidden" name="limit" value="{{limit}}" />
        <input type="hidden" name="sort" value="{{sort}}" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/api/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/carts">Carrito</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Bienvenida y botón de logout -->
  <div class="container mt-4">
    <form action="/api/session/logout" method="GET" class="welcome-form">
      <div class="card-body d-flex flex-column align-items-center">
        <img href="#" class="img-logo" src="./img/logoDSJ.png" alt="">
        <p class="site-description mt-2">Bienvenido a Distribuciones San Juan, tu tienda en línea para productos de alta calidad.</p>
      </div>
      <a class="btn btn-primary" href="/api/user">Mi cuenta</a>
      <button class="btn btn-danger" type="submit">Salir</button>
    </form>
  </div>

  <!-- Lista de productos en dos columnas -->
  <div class="container mt-4 product-list">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {{#each products.docs}}
        <div class="col">
          <div class="card product-card">
            <img src="{{this.thumbnails}}" class="card-img-top" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text">{{this.category}}</p>
              <p class="card-text">Stock: {{this.stock}}</p>
              <h6 class="card-text">Precio $ {{this.price}}</h6>

              <a href="/api/products/{{this._id}}" class="btn btn-primary">Detalles</a>

              <!-- Formulario para agregar al carrito -->
              <form action="/api/carts/add-to-cart" method="POST">
                <input type="hidden" name="productId" value="{{this._id}}" />
                <button class="btn btn-success" type="submit">Agregar al carrito</button>
              </form>

              <!-- Formulario para eliminar del carrito -->
              <form action="/api/carts/remove-from-cart" method="POST">
                <input type="hidden" name="productId" value="{{this._id}}" />
                <button class="btn btn-danger" type="submit">Quitar del carrito</button>
              </form>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <!-- Paginación -->
  <div class="container mt-4 pagination-container">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {{#if products.hasPrevPage}}
          <li class="page-item">
            <a
              class="page-link"
              href="/api/products?page={{products.prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"
            >Previous page</a>
          </li>
        {{/if}}
        {{#if products.hasNextPage}}
          <li class="page-item">
            <a
              class="page-link"
              href="/api/products?page={{products.nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"
            >Next page</a>
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>

  <!-- Incluye los scripts de Bootstrap y jQuery (si es necesario) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
